{% extends "base.html" %}

{% block title %}Patient Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="card text-center animate__animated animate__fadeIn">
        <h2>👤 Welcome {{ user.first_name }} {{ user.last_name }}</h2>
        <p><b>Email:</b> {{ user.email }}</p>
        <p><b>Address:</b> {{ user.address_line1 }}, {{ user.city }}, {{ user.state }} - {{ user.pincode }}</p>

        {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" width="150"
             class="profile mt-3 animate__animated animate__bounce">
        {% endif %}

        <div class="mt-4">
            <a href="{% url 'blog_list' %}" class="btn btn-custom me-2">📚 View Health Blogs</a>
            
            <form action="{% url 'logout' %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">🚪 Logout</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}